asgiref==3.8.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Django==5.1.5
django-filter==24.3
djangorestframework==3.15.2
drf-nested-routers==0.94.1
Flask==3.0.3
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mysqlclient==2.2.4
pillow==11.1.0
SQLAlchemy==2.0.36
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
Werkzeug==3.0.4
